body {
    margin: 0;
    overflow: hidden;
}

canvas {
    width: 100%;
    height: 100%
}

#scene {
    background: linear-gradient(#ffd1a4 0%, #ff9f89 100%);
}

#score {
    color: #fff;
    font-size: 40px;
    position: absolute;
    left: 50%;
    top: 30px;
}

#health {
    height: 30px;
    width: 200px;
    position: absolute;
    border: 1px solid #d07272;
    top: 35px;
    left: 30px;
    border-radius: 10px;
    overflow: hidden;
    background: rgba(255, 0, 0, 0.09);
    display: flex;
}

.health-item {
    height: 100%;
    width: 20px;
    position: relative;
    background: #e06a6a;
    margin-right: 3px;
}

.health-item:last-child {
    margin-right: 0;
}